.small-desc{
    margin-left: 10px;
  font-weight: normal;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  color: #999;
}
.dash-line{
    height: 1px;
  font-size: 0;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 20px;
}
.divider-line{

    border: 1px solid #000;
    display: block;
    margin-top:15px;
    margin-bottom:15px;
}
.img-div{
  text-align: center;
  float: left;
  position: relative;
  height: 100px;
  width: 100px;
  vertical-align: middle;
  border: 1px solid #bebebe;
  margin: 0 8px 15px 0;
  padding: 5px;
  cursor:move;
}
.img-div:hover{
  border-color:#DFA239 ;
}
.main_img {
    border-color:#DFA239 !important;
}
.img-div img{
    max-width: 100%;
    max-height: 100%;
}
#imgx{
    background: rgb(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.4);
    position: absolute;
  top: 5px;
  right: 5px;
  overflow: hidden;
  display: block;
  width: 25px;
  padding: 4px;
}
#imgx:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.8);
}
.imgx{
    background: rgb(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.4);
    position: absolute;
  top: 5px;
  right: 5px;
  overflow: hidden;
  display: block;
  width: 25px;
  padding: 4px;
  cursor: pointer;
}
.imgx:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.8);
}
.custom{
    clear:both;
}
.abcd{
    text-align: left;
    float: left;
}

.abcd img{
    height:100px;
    width:100px;
    padding: 5px;
    border: 1px solid rgb(232, 222, 189);
}
#imgx{
    width: 25px;
    border: none;
    height:25px;
    margin-left: -20px;
    margin-bottom: 91px;
}
.del_image{
    
    width: 25px;
    margin-left: -23px;
    margin-top: -44px;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.4);
    border: medium none;
    overflow: hidden;
    border: 1px solid #bebebe;
    cursor: pointer;
    //padding: 4px;
    //position: absolute;
    
}